<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看暂存信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="public/css/ext-all.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/ext-zh_CN.css"/>
    <script type="text/javascript" src="public/js/ext-all.js"></script>
    <script type="text/javascript" src="public/js/ext-lang-zh_CN.js"></script>
    <script type="text/javascript" src="public/js/base.js"></script>
</head>
<body>
<script>
    Ext.onReady(function () {
        Ext.getBody().mask('加载中');

        //暂存数据
        var temporaryStorageStore = Ext.create('Ext.data.Store', {
            storeId: 'temporaryStorageStore',
            fields: ['NAME_'],
        });

        var buttonPanel = Ext.create('Ext.Panel', {
            id: 'buttonPanel',
            frame: true,
            defaults: {
                style: 'margin: 2px 5px 2px 5px;'
            },
            items: [{
                xtype: 'button',
                icon: 'public/image/btn/delete.png',
                text: '删除',
                handler: _deleteTemporaryStorage
            }, {
                xtype: 'button',
                icon: 'public/image/btn/refresh.png',
                text: '清空暂存数据',
                handler: _emptyTemporaryStorage
            }, {
                xtype: 'button',
                text: '关闭',
                icon: 'public/image/btn/close.png',
                handler: _close
            }]
        });

        var temporaryStoragePanel = Ext.create('Ext.grid.Panel', {
            id: 'temporaryStoragePanel',
            store: temporaryStorageStore,
            columnLines: true,
            frame: true,
            selModel: {
                selType: 'checkboxmodel',
                mode: 'SIMPLE'
            },
            columns: [{
                xtype: 'rownumberer',
                align: 'center',
                width: 50
            }, {
                text: '暂存存储过程名称',
                dataIndex: 'NAME_',
                style: 'text-align: center;',
                flex: 1
            }],
            viewConfig: {
                emptyText: '<div style="text-align: center; padding-top: 50px; font: italic bold 20px Microsoft YaHei;">无暂存数据</div>',
                enableTextSelection: true
            }
        });

        Ext.create('Ext.container.Viewport', {
            layout: {
                type: 'border',
                regionWeights: {
                    west: -1,
                    north: 1,
                    south: 1,
                    east: -1
                }
            },
            defaults: {
                border: false
            },
            items: [{
                region: 'north',
                items: [buttonPanel]
            }, {
                region: 'center',
                layout: 'fit',
                items: [temporaryStoragePanel]
            }]
        });

        _init();
    });

    function _init() {
        for (var i = 0; i < Ext.data.StoreManager.getCount(); i++) {
            if (Ext.data.StoreManager.getAt(i).isLoading()) {
                return;
            }
        }

        Ext.data.StoreManager.lookup('temporaryStorageStore').loadData(parent.procedureMap, false);
        Ext.getBody().unmask();
    }

    //删除暂存数据
    function _deleteTemporaryStorage() {
        var records = Ext.getCmp('temporaryStoragePanel').getSelectionModel().getSelection();
        var deptStore = Ext.data.StoreManager.lookup('temporaryStorageStore');
        deptStore.remove(records);
        for (let i = 0; i < records.length; i++) {
            parent.procedureList.splice(parent.procedureList.indexOf(records[i].data.NAME_), 1);
        }
    }

    //清空暂存数据
    function _emptyTemporaryStorage() {
        var deptStore = Ext.data.StoreManager.lookup('temporaryStorageStore');
        deptStore.removeAll();

        parent.procedureList = [];
        parent.inValieList = [];
    }
</script>
</body>
</html>