<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改数据源</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="public/css/ext-all.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/ext-zh_CN.css"/>
    <script type="text/javascript" src="public/js/ext-all.js"></script>
    <script type="text/javascript" src="public/js/ext-lang-zh_CN.js"></script>
    <script type="text/javascript" src="public/js/base.js"></script>
    <script type="text/javascript" src="public/js/store/driver.js"></script>
</head>
<body>
<script>
    var ID = null;
    if (location.href.split('?')[1] !== undefined) {
        var parameters = Ext.urlDecode(location.href.split('?')[1]);
        (parameters.ID !== undefined) ? ID = parameters.ID : 0;
    }
    var dataBase;//被修改对象

    Ext.onReady(function () {
        Ext.getBody().mask('加载中...');//加载时页面遮盖

        Ext.Ajax.request({//加载被修改对象
            url: '/gen/loadDataBaseInfo',
            async: false,//同步加载
            method: 'GET',
            params: {
                'ID': ID
            },
            callback: function (options, success, response) {
                if (success) {
                    var data = Ext.decode(response.responseText);
                    if (data.success === true && !Ext.isEmpty(data.ID)) {
                        dataBase = data;
                    }
                }
            }
        });

        //按钮栏
        var buttonPanel = Ext.create('Ext.Panel', {
            id: 'buttonPanel',
            defaults: {
                style: 'margin: 2px;'
            },
            items: [{
                xtype: 'button',
                text: '保存',
                icon: 'public/image/btn/save.png',
                handler: _updateDataBaseInfo
            }, {
                xtype: 'button',
                text: '连接测试',
                icon: 'public/image/btn/association.png',
                handler: _testConnect
            }, {
                xtype: 'button',
                text: '关闭',
                icon: 'public/image/btn/close.png',
                handler: _close
            }]
        });

        var formPanel = Ext.create('Ext.form.Panel', {//表单
            id: 'formPanel',
            layout: 'column',
            frame: true,
            autoScroll: true,
            defaults: {
                labelAlign: 'right',
                labelWidth: 150,
                inputWidth: 300,
                margin: '4'
            },
            items: [{
                xtype: 'hidden',
                name: 'ID'
            }, {
                xtype: 'textfield',
                name: 'NAME',
                fieldLabel: '数据源名称',
                allowBlank: false
            }, {
                xtype: 'combo',
                queryMode: 'local',
                store: driverStore,
                valueField: 'CODE_',
                displayField: 'NAME_',
                id: 'DRIVER',
                name: 'DRIVER',
                fieldLabel: '驱动类名称',
                allowBlank: false,
                forceSelection: true,
                style: 'clear:both',
                listeners: {
                    select: function (combo, records) {
                        if (dataBase['DRIVER'] === records[0].data.CODE_) {
                            Ext.getCmp('URL').setValue(dataBase['URL']);
                            return;
                        }
                        switch (records[0].data.CODE_) {
                            case "com.mysql.cj.jdbc.Driver":
                                Ext.getCmp('URL').setValue('jdbc:mysql://<hostname>:3306/<dbname>?useUnicode=true&characterEncoding=utf8&useSSL=true&serverTimezone=Asia/Shanghai&autoReconnect=true&useOldAliasMetadataBehavior=true');
                                break;
                            case "com.mysql.jdbc.Driver":
                                Ext.getCmp('URL').setValue('jdbc:mysql://<hostname>:3306/<dbname>?useUnicode=true&characterEncoding=utf8&useSSL=true&serverTimezone=Asia/Shanghai&autoReconnect=true&useOldAliasMetadataBehavior=true');
                                break;
                            case "oracle.jdbc.OracleDriver":
                                Ext.getCmp('URL').setValue('jdbc:oracle:thin:@<hostname>:1521:<SID>');
                                break;
                            case "org.mariadb.jdbc.Driver":
                                Ext.getCmp('URL').setValue('jdbc:mariadb://<hostname>:3306/<dbname>?useUnicode=true&characterEncoding=utf8&useSSL=true&serverTimezone=Asia/Shanghai&autoReconnect=true&useOldAliasMetadataBehavior=true');
                                break;
                            case "com.microsoft.sqlserver.jdbc.SQLServerDriver":
                                Ext.getCmp('URL').setValue('jdbc:sqlserver://<hostname>:1433;DatabaseName=<dbname>');
                                break;
                            default:
                                Ext.getCmp('URL').setValue('');
                                break;
                        }
                    }
                }
            }, {
                xtype: 'textfield',
                id: 'URL',
                name: 'URL',
                inputWidth: 600,
                fieldLabel: '链接',
                allowBlank: false,
                style: 'clear:both'
            }, {
                xtype: 'textfield',
                name: 'USERNAME',
                fieldLabel: '用户名',
                allowBlank: false,
                style: 'clear:both'
            }, {
                xtype: 'textfield',
                name: 'PASSWORD',
                fieldLabel: '密码',
                allowBlank: false,
                style: 'clear:both'
            }]
        });

        Ext.create('Ext.container.Viewport', {//整体布局
            layout: {
                type: 'border',//border布局
                regionWeights: {//四个角的归属
                    west: -1,
                    north: 1,
                    south: 1,
                    east: -1
                }
            },
            defaults: {
                border: false
            },
            items: [{
                region: 'north',
                items: [buttonPanel]
            }, {
                region: 'center',
                layout: 'fit',//充满
                items: [formPanel]
            }]
        });

        _init();
    });

    //初始化
    function _init() {
        for (var i = 0; i < Ext.data.StoreManager.getCount(); i++) {//检查是否所有自动加载数据已经全部加载完成
            if (Ext.data.StoreManager.getAt(i).isLoading()) {
                return;
            }
        }

        if (dataBase == null) {
            Toast.alert('警告', '无当前数据源, 请刷新页面重新选择', 5000);
            setTimeout(_close, 5000);
            return;
        }
        var formPanel = Ext.getCmp('formPanel').getForm();
        for (var key in dataBase) {//装载被修改数据到页面
            (formPanel.findField(key) != null) ? formPanel.findField(key).setValue(dataBase[key]) : 0;
        }
        Ext.getBody().unmask();//取消页面遮盖
    }

    //修改数据源
    function _updateDataBaseInfo() {
        Ext.getCmp('formPanel').getForm().submit({//提交表单
            url: '/gen/updateDataBaseInfo',
            submitEmptyText: false,
            waitMsg: '进行中',
            success: function (form, action) {
                var data = action.result;
                parent.returnValue = data.success;
                _close();
            },
            failure: function (form, action) {
                switch (action.failureType) {
                    case Ext.form.action.Action.CLIENT_INVALID:
                        Ext.MessageBox.alert('错误', '请填写必填项', Ext.MessageBox.ERROR);
                        break;
                    case Ext.form.action.Action.SERVER_INVALID:
                        Ext.MessageBox.alert('错误', action.result.message, Ext.MessageBox.ERROR);
                        break;
                    case Ext.form.action.Action.CONNECT_FAILURE:
                        Ext.MessageBox.alert('错误', '服务器错误', Ext.MessageBox.ERROR);
                }
            }
        });
    }

    //测试连接
    function _testConnect() {
        Ext.getCmp('formPanel').getForm().submit({//提交表单
            url: '/gen/testConnect',
            submitEmptyText: false,
            waitMsg: '进行中',
            success: function (form, action) {
                if (action.result.success) {
                    Ext.MessageBox.alert('信息', '连接成功', Ext.MessageBox.INFO);
                }
            },
            failure: function (form, action) {
                switch (action.failureType) {
                    case Ext.form.action.Action.CLIENT_INVALID:
                        Ext.MessageBox.alert('错误', '请填写必填项', Ext.MessageBox.ERROR);
                        break;
                    case Ext.form.action.Action.SERVER_INVALID:
                        Ext.MessageBox.alert('错误', action.result.message, Ext.MessageBox.ERROR);
                        break;
                    case Ext.form.action.Action.CONNECT_FAILURE:
                        Ext.MessageBox.alert('错误', '服务器错误', Ext.MessageBox.ERROR);
                }
            }
        });
    }
</script>
</body>
</html>